{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block content %}

<div class="container">
<h3>Планшеты</h3>    
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Спецпредложение</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Спецпредложение</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div><div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Спецпредложение</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Спецпредложение</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">
<h3>Топ продаж</h2>    
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Топ продаж</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Топ продаж</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div><div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Топ продаж</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Топ продаж</div>
        <div class="panel-body">
          <div style="width:46%; float:left">
            <img src="{{base_url()}}assets/img/posipaka.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
          <div style="width:46%; margin-left:55%">
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
            <p>Описание</p>
          </div>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-primary">Подробнее</button>
          <button type="button" class="btn btn-primary">В корзину</button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}