{% extends 'main_template.twig' %}

{% block scripts %}
{{parent()}}
{% endblock %}

{% block header %}
{{parent()}}
{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block content %}
   
  <div class="container">
    <div class="row">
    <h3>Ваша корзина:</h3>            
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Код товара</th>
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена, грн.</th>
          <th>Сумма</th>
          <th>Удалить</th>
        </tr>
      </thead>
      <tbody>
      {% if cart %}
        {% for product in cart %}
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.qty }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.subtotal }}</td>
            <td><a href="{{base_url()}}main/remove_from_cart/{{product.rowid}}">Удалить</a></td>
          </tr>
        {% endfor %}
          <tr>
            <td colspan="5" align="right"><strong>Общая сумма, грн.: </strong></td>
            <td style="font-size: 18px;">{{ cart_summary.sum }}</td>
          </tr>
        {% else %}
          <tr>
            <td>Корзина пуста</td>
          </tr>
      {% endif %}
      </tbody>
    </table>
    </div>
    {% if cart %}
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <a href="{{base_url()}}main/create_order" class="btn btn-primary" role="button" type="button">Оформить заказ</a>
        </div>
      </div>
    {% endif %}
  </div>
  <br>
  <br>



{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}